@import '/src/variables';

#dashboard-component{
    display: flex;
    width: 1500px;
    margin: 64px auto;
    flex-direction: column;
    gap: 32px;
    
    .card-wrapper {
        width: 100%;
    }

    .section {
        display: flex;
        gap: 32px;

        .order {
            width: 68%;
        }

        .user {
            width: 30%;
            background-color: $white-color;
        }

        .sales-stats, .balance-overview {
            width: 35%;
        }
        .top-product {
            width: 28%;
        }
    }
}