<div id="top-navigation-component">
    <div class="search">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Search">
    </div>
    <div class="right-nav-wrapper">
        <div class="translate">
            <select>
                <option selected>ENG</option>
                <option>HIN</option>
            </select>
        </div>
        <div class="menus">
            <div class="menu-item">
                <i class="fa-regular fa-message"></i>
                <div class="dot green">.</div>
            </div>
            <div class="menu-item">
                <i class="fa-regular fa-bell"></i>
                <div class="dot green">.</div>
            </div>
        </div>
        <div class="display-photo">
            <div><img src="../../../assets/avatar/dp.jpg"></div>
            <div class="user-name">Camille Stevenson</div>
        </div>
    </div>
</div>