$primary-color: #506de2;
$green-color: #28cd77;
$blue-grey-color: #7982a0;
$yellow-color: #f7efa2;
$red-color: #eb5e70;
$white-color: #ffffff;
$grey-color: #c3c3c3;
$grey-50-color: #eff2f9;
$grey-100-color: #f7f4f4;
$grey-300-color: #919191;
$grey-500-color: #757575;
$grey-800-color: #464646;